/*cd documents/projects/tortoiseshell-optics*/
/*live-server*/

body {
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
    font-family: helvetica, sans-serif;
}

.row {
    width: 100%;
    clear: both;
}

.col-two {
    width: 35%;
    float: left;
}

.col-small {
    width: 5%;
    float: left;
}
/*top header and navigation*/

/*full container of banner and navigation*/
.header-container {
    background-image: url("../images/banner-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
}

.flex-container {
    max-width: 960px;
    margin: 0 auto;
}

.menu-screen-phone {
    display: none;
}

.header {
    background: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    margin-top: 1rem;
}

.menu-selection {
    padding: 1rem 2rem 1rem 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 1.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.logo span {
    font-size: 1rem;
    font-family: Helvetica;
}

/*banner of company moto*/
.banner-container {
    display: flex;
    justify-content: flex-end;
}

.banner {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
    background-color: white;
    padding-right: 5rem;
    padding-left: 5rem;
    margin-top: 10rem;
    margin-right: -2rem;
}


/*main content*/

.overview {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.overview img {
    max-width: 100%;
    max-height: 100%;
}

.ruler-icon,
.truck-icon,
.paper-icon  {
    width: 5rem;
    height: 8rem;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.paper-icon {
    width: 3.5rem;
}



/*information of appointments and philosophy*/
.info-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.philosophy h3, .appointments h3 {
    background-color: cadetblue;
    padding: 0.5rem 1.25rem;
    width: 10rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 1rem;
}



/*footer*/
.footer {
    max-width: 960px;
    margin: 0 auto;
}
.footer-logo {
    display: flex;
    align-items: center;
    background-color: azure;
}

.footer-logo img {
    height: 1.5rem;
    padding: 4rem 1rem 4rem 4rem;
}


/*different media screen sizes*/

@media only screen and (max-width: 1024px) {
    
    .header-container {
        height: 22rem;
    }

    .header {
        margin-top: 0;
    }

    .flex-container {
        width: 100%;
    }

    .banner {
        font-size: 1.33rem;
        line-height: 1.2;
        background-color: white;
        padding-right: 4rem;
        padding-left: 4rem;
        margin-top: 5rem;
        margin-right: 2rem;
}

@media only screen and (max-width: 470px) {
    .header {
        margin-top: 0;
    }
    .menu {
        display: none;
    }

    .menu-screen-phone {
        display: inline-flex;
        padding-right: 1rem;
    }
    
    .header-container {
        background-position: 20%;
        height: 17rem;
    }

    .flex-container {
        width: 100%;
        margin: 0 auto;
    }
    .banner {
        width: 100%;
        font-size: 1rem;
        text-align: center;
    }


    /*overview container*/
    .overview {
        width: 100%;
        margin-top: 3.77rem;
        margin-bottom: 3.77rem;
        font-size: .77rem;
        display: block;
        text-align: center;
    }

    .ruler-icon,
    .truck-icon,
    .paper-icon {
        margin-top: 1.54rem;
        height: 6rem;
        text-align: center;
    }


    /*info container*/
    .info-container {
        display: block;
    }

    .philosophy, .appointments, .col-two{
        display: block;
        width: 100%;
    }

    .space-between {
        display: none;
    }

    .philosophy h3, .appointments h3 {
        width: 100%;
        text-align: center;
    }
    .philosophy p, .appointments p {
        margin: 1rem;
        margin-bottom: 4rem;
        font-size: 0.77rem;
    }

    /*footer*/
    .footer-logo {
        justify-content: center;
    }
    .footer span {
        display: none;
    }
}